.container {
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 0;

}
.logo{
    align-self: center;    
}
.icons {
    
    display: flex;
    flex-direction: column;

}

.image {
    width: 42px;
    height: 42px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.img {
    object-fit: cover;
}

.circle img {
    width: 100%;
    height: auto;
    display: block;

}