.container{
    border-left: 2px solid #a8a8a8;
    border-radius: 6px;
    padding: 20px;
}
.header{
    display: flex;
    gap: 10px;
    border-bottom: 2px solid #a8a8a8;
    padding: 10px;
    height: 100px;
}

.list{
    padding-top: 20px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(244, 246, 248, 1);
}
