.container{
    display: flex;
    flex-direction: column;
    border: 1px solid #DEE1E6;
    padding: 8px;
}

.date{
    color: var(--text-color);
}
.title{
    width: 464px;
    height: 40px;
    font-size: 30px;
    align-items: center;
}