.container{
    display: flex;
    flex-wrap: wrap;
    width: 649px;
    height: 147px;
    border: 1px solid #DEE1E6;
    /* background-color: rgb(215, 230, 250); */
    padding: 8px;
}
.topLine{
    background-color: var(--text-color);
    height: 1px;
    width: 95%;
}
.date{
    color: var(--text-color);
}
.title{
    width: 464px;
    height: 40px;
    font-size: 30px;
    align-items: center;
}