.container {
    display: flex;
    /* width: 372px;
    height: 66px; */
    gap: 6px;
    border-radius: 7px;
    background-color: rgba(244, 246, 248, 1);
    padding: 12px;
    cursor: pointer;
}

.container:hover {
    box-shadow: 0px 5px 5px rgba(75, 74, 74, 0.5);
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.title {
    color: var(--title-color);
    font-size: 15.5;

}

.text {
    color: var(--text-color);
    font-size: 12.5;

}

.image {
    width: 42px;
    height: 42px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.img {
    object-fit: cover;
}

.circle img {
    width: 100%;
    height: auto;
    display: block;

}

.end {
    display: flex;
    flex-direction: column;
    width: 39px;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}

.favorite {
    color: var(--primary-color);
    font-size: 20px;
}

.unfavorite {
    color: var(--text-color);
    font-size: 20px;
}
