.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgba(244, 246, 248, 1);
    border-radius: 10px;
    width: 400px;

}
.header{
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid #a8a8a8;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

