.container {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.textArea{
    height: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    resize: none;
}
.textAreaContainer{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textTools {
    width: 100%;
    height: 30px;
    border-top: 1px solid var(--text-color);
    display: flex;
    justify-content: space-between;

}
.chooseColor {
    position: absolute;
    margin-left: 110px;
    margin-bottom: 10px;
    color: var(--text-color);
    text-align: center; 
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid var(--text-color);
    margin-bottom: 0; 
    text-align: center;
    margin-top: -81px;
    padding: 5px;
    gap: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.color{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.textEditorToolbar {
    /* border-right: 1px solid var(--text-color); */
    display: flex;
}

.textAlignmentToolbar {
    display: flex;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--text-color);
}
.tool:hover{
    color: var(--primary-color);
}
.bold{
    font-weight: 900;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.textJustify{
    text-align: justify;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
.icons button{
    color: var(--text-color);
}

.icons svg:hover{
    color: var(--primary-color);
}
.footer{
    padding: 20px;
display: flex;
justify-content: space-between;
}