.container {
    display: flex;
    width: 636px;
    gap: 16px;
    border-radius: 4px;
    background-color: rgba(244, 246, 248, 1);
    padding: 16px;

}
.container h3{
    font-weight: 600;
    font-size: 15.5px;
}
.container p{
    color:var(--text-color);
}
.main {
    line-height: 20px;
    display: flex;
    gap: 8px;
    flex-grow: 1;
    font-size: 12.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    color: var(--title-color);
    font-size: 15.5;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    color: var(--text-color);
    font-size: 12.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image {
    width: 42px;
    height: 42px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.img {
    object-fit: cover;
}

.circle img {
    width: 100%;
    height: auto;
    display: block;

}
.backArrow{
    color: var(--text-color);
    font-size: 25px;
}

.end {
    display: flex;
    flex-direction: wrap;
    gap: 5px;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}