.container {
    display: flex;
    width: 636px;
    height: 65px;
    gap: 16px;
    border-radius: 4px;
    background-color: rgba(250, 235, 215, 0.699);
    padding: 16px;
    justify-content: space-around;

}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* flex-grow: 1; */
    align-items: center;
    width: 324px;
    height: 26px;
    font-size: 12.5px;

}

.title {
    color: var(--title-color);
    font-size: 15.5;
    width: 85px;
    height: 19px;
    font-weight: 600;

}

.text {
    width: 324px;
    height: 26px;
    color: var(--text-color);
    font-size: 12.5;

}

.image {
    width: 42px;
    height: 42px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

.img {
    object-fit: cover;
}

.circle img {
    width: 100%;
    height: auto;
    display: block;

}

.end {
    display: flex;
    flex-direction: wrap;
    gap: 5px;
    width: 39px;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}