.container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.container:hover {
    border-right: 3px solid var(--primary-color);
}

.container:hover .icon{
    background-color: #00a38823;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container svg {
    color: var(--text-color);
    font-size: 20px;
}

.container:hover svg {
    fill: var(--primary-color);
}

.active {
    border-right: 3px solid var(--primary-color);

}
.active div div{
    background-color: #00a38823;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}